.container1 {
    width: 100%;
    display: flex;
}

.main-panel1 {
    width: 70%;
    background-color: #0A092D;
    border-left: 3px solid white;
    height: 850px;
    overflow: scroll;
    overflow-x: visible;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none !important;
    padding: 50px;
}

.text1 {
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

.btn-bar {
    width: 100%;
    height: 70px;
    display: flex;
}
.btn-heart{
    width: 200px !important;
}

.btn-soluton {
    color: white;
    background-color: #2E3856;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    font-size: .9rem;
    font-weight: 700;
    cursor: pointer;
    margin-right: 20px;
}
.btn-soluton:hover{
    transform: scale(1.1);
}
.btn-soluton:active{
    transform: scale(.9);
}
.active-1 {
    background-image: linear-gradient(to right, #7583FF, #43cea2);
}
td{
    border-color: white;
    border: 1px solid white;
    border-radius: 5px;
}
th{
    border-color: white;
    border: 1px solid white;
}
table{
    align-items: center;
    margin-left: 30%;
    border-radius: 5px;
}



    .text1 {
        color: black !important;
        background-color: white !important;
    }
    .content{
        background-color: white !important;
        padding: 20px;
        padding-right: 40px;
    }
    .menuItem{
        background-color: white !important;
        color: black !important;
    }
    .main-panel1{
        width: 90%;
        overflow-x: scroll;
        background-color: white !important;
    }
    /* .main-panel1 {
        width: 100%;
        height: 100%;
    } */
    /* .sidebar{
        display: none;
    } */